@import "../../globalColor";

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h3 {
    text-align: center;
    margin-top: 0;
}

services-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}


.service-box {
    flex: 1;
    padding: 20px;  /* Increased padding for larger boxes */
    margin: 10px;
    box-shadow: 2px 2px 4px #aaa;
    max-width: calc(30% - 20px); /* Adjusted width for larger boxes */
    transition: all 0.3s ease-in-out;  /* Smoother transition for hover effects */
}

.service-box:hover {
    background-color: $buttonColor;  /* Purple background on hover */
    color: white;  /* Text color becomes white on hover */
    border-color: #65348a;  /* Darker purple border on hover */
    box-shadow: 5px 5px 8px #888;
    transform: scale(1.05);  /* Slight scale effect on hover */
}

