@import "../../_globalColor";

.achievement-heading {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: normal;
  margin: 0px;
}
.achievement-subtitle {
  font-weight: 500;
  margin: 0px;
  margin-bottom: 50px;
}
.subTitle {
  color: $subTitle;
}

/* Media Query */
@media (max-width: 1380px) {
  .achievement-heading {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .achievement-heading {
    font-size: 30px;
    text-align: center;
  }
  .achievement-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}
